

NET "AN[0]" LOC = N16;
NET "AN[1]" LOC = N15;
NET "AN[2]" LOC = P18;
NET "AN[3]" LOC = P17;
NET "seven_out[0]" LOC = L14;
NET "seven_out[1]" LOC = N14;
NET "seven_out[2]" LOC = M14;
NET "seven_out[3]" LOC = U18;
NET "seven_out[4]" LOC = U17;
NET "seven_out[5]" LOC = T18;
NET "seven_out[6]" LOC = T17;
NET "seven_out[7]" LOC = M13;
NET "switch_test[0]" LOC = T10;
NET "switch_test[1]" LOC = T9;
NET "switch_test[2]" LOC = V9;
NET "clk" LOC = V10;
NET "enter" LOC = C4;


NET "switch_test[3]" LOC = M8;


NET "reset" LOC = A8;
